::-webkit-scrollbar{
     height: 0PX;
     width: 0PX;
}
img{
     width: 100VW;
}
.link{
   display: block;
   padding: 20px;
   text-align: center;
   font-weight: bolder;
   text-decoration: none; 
   color: white;
}
